In [2]:
import pymongo

In [4]:
# Make connection 
client=pymongo.MongoClient('mongodb://localhost:27017/')
# Creating the database
mydb=client["Employee"]
# Creating the collections
info=mydb.emp_info

record={
    "Name":"Muhammad Awais",
    "Roll_NO":78,
    "CGPA":3.55,
    "Departement":"SE",
    "Status":True
}
# Inserting the data
info.insert_one(record)

InsertOneResult(ObjectId('66f505408d5a31e55be831db'), acknowledged=True)

In [3]:
# For Inserting the multipul records
records=[{"Name":"Murtza","Roll_No":37,"CGPA":2.98,"Department":"Eng","Status":True},
        {"Name":"Sayd Ayhsan","Roll_No":52,"CGPA":3.15,"Department":"Eng","Status":False},
        {"Name":"Abdurhman","Roll_No":59,"CGPA":2.35,"Department":"M-Phil","Status":False},
        {"Name":"Subhan","Roll_No":40,"CGPA":3.02,"Department":"Eng","Status":True},
        {"Name":"Haroon","Roll_No":59,"CGPA":2.45,"Department":"SE","Status":False},
        {"Name":"Ishaq","Roll_No":69,"CGPA":3.25,"Department":"M-Phil","Status":True},
        {"Name":"Zeeshan","Roll_No":32,"CGPA":3.00,"Department":"Law","Status":False}]
info.insert_many(records)

InsertManyResult([ObjectId('66f4db8e2bd9a9ee9692ba5b'), ObjectId('66f4db8e2bd9a9ee9692ba5c'), ObjectId('66f4db8e2bd9a9ee9692ba5d'), ObjectId('66f4db8e2bd9a9ee9692ba5e'), ObjectId('66f4db8e2bd9a9ee9692ba5f'), ObjectId('66f4db8e2bd9a9ee9692ba60'), ObjectId('66f4db8e2bd9a9ee9692ba61')], acknowledged=True)

In [4]:
# find things
for a in info.find():
    print(a)

{'_id': ObjectId('66f3d7c9285939a503269f60'), 'Name': 'Muhammad Awais', 'Roll_NO': 78, 'CGPA': 3.55, 'Departement': 'SE', 'Status': True}
{'_id': ObjectId('66f3d91c285939a503269f61'), 'Name': 'Murtza', 'Roll_No': 37, 'CGPA': 2.98, 'Department': 'Eng', 'Status': True}
{'_id': ObjectId('66f3d91c285939a503269f62'), 'Name': 'Sayd Ayhsan', 'Roll_No': 52, 'CGPA': 3.15, 'Department': 'Eng', 'Status': False}
{'_id': ObjectId('66f3d91c285939a503269f63'), 'Name': 'Abdurhman', 'Roll_No': 59, 'CGPA': 3.35, 'Department': 'M-Phil', 'Status': False}
{'_id': ObjectId('66f3dd44285939a503269f6c'), 'Name': 'Subhan', 'Roll_No': 40, 'CGPA': 3.02, 'Department': 'Eng', 'Status': True}
{'_id': ObjectId('66f3dd44285939a503269f6d'), 'Name': 'Haroon', 'Roll_No': 59, 'CGPA': 2.45, 'Department': 'SE', 'Status': False}
{'_id': ObjectId('66f3dd44285939a503269f6e'), 'Name': 'Ishaq', 'Roll_No': 69, 'CGPA': 3.25, 'Department': 'M-Phil', 'Status': True}
{'_id': ObjectId('66f3dd44285939a503269f6f'), 'Name': 'Zeeshan', 'Roll_No': 32, 'CGPA': 3.0, 'Department': 'Law', 'Status': False}
{'_id': ObjectId('66f4db732bd9a9ee9692ba5a'), 'Name': 'Muhammad Awais', 'Roll_NO': 78, 'CGPA': 3.55, 'Departement': 'SE', 'Status': True}
{'_id': ObjectId('66f4db8e2bd9a9ee9692ba5b'), 'Name': 'Murtza', 'Roll_No': 37, 'CGPA': 2.98, 'Department': 'Eng', 'Status': True}
{'_id': ObjectId('66f4db8e2bd9a9ee9692ba5c'), 'Name': 'Sayd Ayhsan', 'Roll_No': 52, 'CGPA': 3.15, 'Department': 'Eng', 'Status': False}
{'_id': ObjectId('66f4db8e2bd9a9ee9692ba5d'), 'Name': 'Abdurhman', 'Roll_No': 59, 'CGPA': 2.35, 'Department': 'M-Phil', 'Status': False}
{'_id': ObjectId('66f4db8e2bd9a9ee9692ba5e'), 'Name': 'Subhan', 'Roll_No': 40, 'CGPA': 3.02, 'Department': 'Eng', 'Status': True}
{'_id': ObjectId('66f4db8e2bd9a9ee9692ba5f'), 'Name': 'Haroon', 'Roll_No': 59, 'CGPA': 2.45, 'Department': 'SE', 'Status': False}
{'_id': ObjectId('66f4db8e2bd9a9ee9692ba60'), 'Name': 'Ishaq', 'Roll_No': 69, 'CGPA': 3.25, 'Department': 'M-Phil', 'Status': True}
{'_id': ObjectId('66f4db8e2bd9a9ee9692ba61'), 'Name': 'Zeeshan', 'Roll_No': 32, 'CGPA': 3.0, 'Department': 'Law', 'Status': False}

In [5]:
for b in info.find({"Status":False}):
    print(b)

{'_id': ObjectId('66f3d91c285939a503269f62'), 'Name': 'Sayd Ayhsan', 'Roll_No': 52, 'CGPA': 3.15, 'Department': 'Eng', 'Status': False}
{'_id': ObjectId('66f3d91c285939a503269f63'), 'Name': 'Abdurhman', 'Roll_No': 59, 'CGPA': 3.35, 'Department': 'M-Phil', 'Status': False}
{'_id': ObjectId('66f3dd44285939a503269f6d'), 'Name': 'Haroon', 'Roll_No': 59, 'CGPA': 2.45, 'Department': 'SE', 'Status': False}
{'_id': ObjectId('66f3dd44285939a503269f6f'), 'Name': 'Zeeshan', 'Roll_No': 32, 'CGPA': 3.0, 'Department': 'Law', 'Status': False}
{'_id': ObjectId('66f4db8e2bd9a9ee9692ba5c'), 'Name': 'Sayd Ayhsan', 'Roll_No': 52, 'CGPA': 3.15, 'Department': 'Eng', 'Status': False}
{'_id': ObjectId('66f4db8e2bd9a9ee9692ba5d'), 'Name': 'Abdurhman', 'Roll_No': 59, 'CGPA': 2.35, 'Department': 'M-Phil', 'Status': False}
{'_id': ObjectId('66f4db8e2bd9a9ee9692ba5f'), 'Name': 'Haroon', 'Roll_No': 59, 'CGPA': 2.45, 'Department': 'SE', 'Status': False}
{'_id': ObjectId('66f4db8e2bd9a9ee9692ba61'), 'Name': 'Zeeshan', 'Roll_No': 32, 'CGPA': 3.0, 'Department': 'Law', 'Status': False}

In [6]:
# in operator
for c in info.find({"Department":{"$in":["SE","M_Phil"]}}):
    print(c)

{'_id': ObjectId('66f3dd44285939a503269f6d'), 'Name': 'Haroon', 'Roll_No': 59, 'CGPA': 2.45, 'Department': 'SE', 'Status': False}
{'_id': ObjectId('66f4db8e2bd9a9ee9692ba5f'), 'Name': 'Haroon', 'Roll_No': 59, 'CGPA': 2.45, 'Department': 'SE', 'Status': False}

In [7]:
# and operator
for d in info.find({"Department":"Eng","Status":{'$lt':True}}):
    print(d)

{'_id': ObjectId('66f3d91c285939a503269f62'), 'Name': 'Sayd Ayhsan', 'Roll_No': 52, 'CGPA': 3.15, 'Department': 'Eng', 'Status': False}
{'_id': ObjectId('66f4db8e2bd9a9ee9692ba5c'), 'Name': 'Sayd Ayhsan', 'Roll_No': 52, 'CGPA': 3.15, 'Department': 'Eng', 'Status': False}

In [8]:
# OR operator
for e in info.find({"$or":[{"Department":"M-Phil"},{"Status":True}]}):
    print(e)

{'_id': ObjectId('66f3d7c9285939a503269f60'), 'Name': 'Muhammad Awais', 'Roll_NO': 78, 'CGPA': 3.55, 'Departement': 'SE', 'Status': True}
{'_id': ObjectId('66f3d91c285939a503269f61'), 'Name': 'Murtza', 'Roll_No': 37, 'CGPA': 2.98, 'Department': 'Eng', 'Status': True}
{'_id': ObjectId('66f3d91c285939a503269f63'), 'Name': 'Abdurhman', 'Roll_No': 59, 'CGPA': 3.35, 'Department': 'M-Phil', 'Status': False}
{'_id': ObjectId('66f3dd44285939a503269f6c'), 'Name': 'Subhan', 'Roll_No': 40, 'CGPA': 3.02, 'Department': 'Eng', 'Status': True}
{'_id': ObjectId('66f3dd44285939a503269f6e'), 'Name': 'Ishaq', 'Roll_No': 69, 'CGPA': 3.25, 'Department': 'M-Phil', 'Status': True}
{'_id': ObjectId('66f4db732bd9a9ee9692ba5a'), 'Name': 'Muhammad Awais', 'Roll_NO': 78, 'CGPA': 3.55, 'Departement': 'SE', 'Status': True}
{'_id': ObjectId('66f4db8e2bd9a9ee9692ba5b'), 'Name': 'Murtza', 'Roll_No': 37, 'CGPA': 2.98, 'Department': 'Eng', 'Status': True}
{'_id': ObjectId('66f4db8e2bd9a9ee9692ba5d'), 'Name': 'Abdurhman', 'Roll_No': 59, 'CGPA': 2.35, 'Department': 'M-Phil', 'Status': False}
{'_id': ObjectId('66f4db8e2bd9a9ee9692ba5e'), 'Name': 'Subhan', 'Roll_No': 40, 'CGPA': 3.02, 'Department': 'Eng', 'Status': True}
{'_id': ObjectId('66f4db8e2bd9a9ee9692ba60'), 'Name': 'Ishaq', 'Roll_No': 69, 'CGPA': 3.25, 'Department': 'M-Phil', 'Status': True}

In [9]:
# Creating the new database
items=mydb.items

In [10]:
items.insert_many([{'item':'journal','qty':25,'size':{'h':14,'w':21,'uom':"cm"},'status':True},
                   {'item':'notebook','qty':50,'size':{'h':20,'w':20,'uom':"inch"},'status':True},
                   {'item':'paper','qty':100,'size':{'h':70,'w':35,'uom':"cm"},'status':False},
                   {'item':'journal','qty':25,'size':{'h':20,'w':100,'uom':"f"},'status':True}])

InsertManyResult([ObjectId('66f4db932bd9a9ee9692ba62'), ObjectId('66f4db932bd9a9ee9692ba63'), ObjectId('66f4db932bd9a9ee9692ba64'), ObjectId('66f4db932bd9a9ee9692ba65')], acknowledged=True)

In [11]:
for records in items.find({'size':{'h':14,'w':21,'uom':"cm"}}):
    print(records)

{'_id': ObjectId('66f3e41b285939a503269f70'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'ststus': True}
{'_id': ObjectId('66f4db932bd9a9ee9692ba62'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': True}

In [12]:
# Updating one 
items.update_one(
    {'item':'notebook'},{'$set':{'size.uom':'inch'},'$currentDate':{'lastmodified':True}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [13]:
# Update many
items.update_many(
    {'qty': {'$eq': 50}},
    {'$set': {'size.uom': 'inch', 'status': False}}
)

UpdateResult({'n': 2, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [14]:
items.replace_one(
    {'item':'paper'},
    {'item':'paper',
     'instoke':[
         {'wherehouse':'A','qty':300},
         {'wherehouse':'B','qty':800}]})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [15]:
# Creating the new database
mydb=client['stu_info']
Info_Stu=mydb.Info_Stu
stu_records=[{"Name":"Muhammad Awais","Age":24,"Subjects":"Python","Fee":"Paid","Score":80},
        {"Name":"Ishaq","Age":21,"Subjects":"Java","Fee":"Unpaid","Score":65},
        {"Name":"Muhammad Abdullah","Age":25,"Subjects":"Web Dev","Fee":"Paid","Score":90},
        {"Name":"Muhammad Awais","Age":24,"Subjects":"MongoDB","Fee":"Unpaid","Score":50},
        {"Name":"Muhammad Awais","Age":24,"Subjects":"Data Science","Fee":"Unpaid","Score":78},
        {"Name":"Muhammad Abdullah","Age":25,"Subjects":"Java Script","Fee":"Unpaid","Score":55}]
Info_Stu.insert_many(stu_records)

InsertManyResult([ObjectId('66f4de2f2bd9a9ee9692ba66'), ObjectId('66f4de2f2bd9a9ee9692ba67'), ObjectId('66f4de2f2bd9a9ee9692ba68'), ObjectId('66f4de2f2bd9a9ee9692ba69'), ObjectId('66f4de2f2bd9a9ee9692ba6a'), ObjectId('66f4de2f2bd9a9ee9692ba6b')], acknowledged=True)

In [21]:
# Check how many students taken the subjects
# must use $group and the _id is the unique and then other code part
# it basically sum all the records according to the user
result=Info_Stu.aggregate(
    [{
        "$group":
        {"_id":"$Name",
        "Total Subjects":{"$sum":1}
        }}
    ])
for i in result:
    print(i)

{'_id': 'Muhammad Abdullah', 'Total Subjects': 2}
{'_id': 'Muhammad Awais', 'Total Subjects': 3}
{'_id': 'Ishaq', 'Total Subjects': 1}

In [23]:
Info_Stu.insert_one({"Name":"Raja Abdr","Age":25,"Subjects":"Data Science","Fee":"Unpaid","Score":45})

InsertOneResult(ObjectId('66f4e2062bd9a9ee9692ba6c'), acknowledged=True)

In [27]:
result=Info_Stu.aggregate(
    [{
        "$group":
        {"_id":"$Subjects",
        "Total Subjects":{"$sum":1}
        }}
    ])
for i in result:
    print(i)

{'_id': 'Java', 'Total Subjects': 1}
{'_id': 'MongoDB', 'Total Subjects': 1}
{'_id': 'Data Science', 'Total Subjects': 2}
{'_id': 'Python', 'Total Subjects': 1}
{'_id': 'Java Script', 'Total Subjects': 1}
{'_id': 'Web Dev', 'Total Subjects': 1}

In [29]:
# Calculate every student Score
Score=Info_Stu.aggregate(
    [{
        "$group":
        {"_id":"$Name",
        "Total Score":{"$sum":'$Score'}
        }}
    ])
for y in Score:
    print(y)

{'_id': 'Muhammad Awais', 'Total Score': 208}
{'_id': 'Ishaq', 'Total Score': 65}
{'_id': 'Muhammad Abdullah', 'Total Score': 145}
{'_id': 'Raja Abdr', 'Total Score': 45}

In [30]:
# Average Score of the students
Avg_score=Info_Stu.aggregate(
    [{
        "$group":
        {"_id":"$Name",
        "Total Score":{"$avg":'$Score'}
        }}
    ])
for y in Avg_score:
    print(y)

{'_id': 'Muhammad Awais', 'Total Score': 69.33333333333333}
{'_id': 'Ishaq', 'Total Score': 65.0}
{'_id': 'Muhammad Abdullah', 'Total Score': 72.5}
{'_id': 'Raja Abdr', 'Total Score': 45.0}

In [32]:
import datetime as datetime

In [33]:
data=[{'_id':1,'item':'abc','price':10,'qty':3,'date':datetime.datetime.utcnow()},
     {'_id':2,'item':'def','price':20,'qty':5,'date':datetime.datetime.utcnow()},
     {'_id':3,'item':'ghi','price':10,'qty':2,'date':datetime.datetime.utcnow()},
     {'_id':4,'item':'jkl','price':2,'qty':10,'date':datetime.datetime.utcnow()},
     {'_id':5,'item':'mno','price':50,'qty':7,'date':datetime.datetime.utcnow()}]

C:\Users\MR OSMAN\AppData\Local\Temp\ipykernel_10364\1581049576.py:1: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  data=[{'_id':1,'item':'abc','price':10,'qty':3,'date':datetime.datetime.utcnow()},
C:\Users\MR OSMAN\AppData\Local\Temp\ipykernel_10364\1581049576.py:2: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  {'_id':2,'item':'def','price':20,'qty':5,'date':datetime.datetime.utcnow()},
C:\Users\MR OSMAN\AppData\Local\Temp\ipykernel_10364\1581049576.py:3: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  {'_id':3,'item':'ghi','price':10,'qty':2,'date':datetime.datetime.utcnow()},
C:\Users\MR OSMAN\AppData\Local\Temp\ipykernel_10364\1581049576.py:4: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  {'_id':4,'item':'jkl','price':2,'qty':10,'date':datetime.datetime.utcnow()},
C:\Users\MR OSMAN\AppData\Local\Temp\ipykernel_10364\1581049576.py:5: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  {'_id':5,'item':'mno','price':50,'qty':7,'date':datetime.datetime.utcnow()}]

In [35]:
my_items=mydb.item_info
my_items.insert_many(data)

InsertManyResult([1, 2, 3, 4, 5], acknowledged=True)

In [37]:
my_items.insert_one({'_id':6,'item':'mno','price':20,'qty':4,'date':datetime.datetime.utcnow()})

C:\Users\MR OSMAN\AppData\Local\Temp\ipykernel_10364\526673970.py:1: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  my_items.insert_one({'_id':6,'item':'mno','price':20,'qty':4,'date':datetime.datetime.utcnow()})

InsertOneResult(6, acknowledged=True)

In [38]:
my_result=my_items.aggregate([
    {
        '$group':{
            '_id':'$item',
            'Avg_Amount':{'$avg':{'$multiply':['$price','$qty']}},
            'Avg_qty':{'$avg':'$qty'}
        }
    }
])
for i in my_result:
    print(i)

{'_id': 'ghi', 'Avg_Amount': 20.0, 'Avg_qty': 2.0}
{'_id': 'def', 'Avg_Amount': 100.0, 'Avg_qty': 5.0}
{'_id': 'jkl', 'Avg_Amount': 20.0, 'Avg_qty': 10.0}
{'_id': 'mno', 'Avg_Amount': 215.0, 'Avg_qty': 5.5}
{'_id': 'abc', 'Avg_Amount': 30.0, 'Avg_qty': 3.0}

In [ ]:
# Using the $projects